*{
	font-family: cursive;
}
.contenedor-nav{
	display: flex;
	background-color: #FAE2B5;
	justify-content: center;
}
.contenedor-nav>img{
	width: 25%;

}
.contenedor-contenido{
	display: flex;
	background-color: #B5FAF9;
	text-align: center;
	height: 720px;

}
.contenido-button{
	width: 250px;
	height: 350px ;
	position: relative;
	top: 150px;
	left: 250px;

	
}

.butt{
	width: 250px;
	height:40px ;
	background-color: #D1B5FA;
	border-style: none;
	border-radius: 20px;
	position: relative;
	top: 30px;
}
.butt:hover{
	transition-duration: 2s;
	background-color: #FAB5C5;
}
.butt>a{
	text-decoration: none;
}
.contenido-img-button{
	position: relative;
	top: 100px;
	left: 500px;
}

.contenido{
	background-color: #CCFAB5;
}
.contenedor-manual{
	text-align: center;
	padding: 70px;
}
.herramientas{
	text-align: center;

}
.recortar-fotos{
	background-color: #f9f9f9;
	width: 1200px;
	height: 600px;
	text-align: center;
	position: relative;
	left: 350px;
	border-radius: 20px;
}
.recortar-fotos>h2{
	padding: 20px;
	background-color: #FAE7E7;
	border-radius: 10px;
}
.contenedor-wid{
	display: flex;
	justify-content: space-evenly;
}
.div-1{
	background-color: #f9f9f9;
	width: 350px;
	height: 250px;
	border-radius: 20px;
}
.div-1>img{
	width: 50%;
	padding: 20px;
	position: relative;
	top: 20px;
}
.div-1>p{
	position: relative;
	top: 20px;

}
.div-2{
	background-color: #f9f9f9;
	border-radius: 20px;
}
.footer{
	display: flex;
	background: #F9F0F0;
	color:#000 ;
	width: 100%;
	height: 100px ;
	justify-content:space-evenly;
	align-items:flex-start;
	}
.footer a{
	text-decoration: none;
	margin:  5px;
	padding: 2px;
	color: #000;
}
.footer li{
	margin: 10px;
	padding: 10px;
}
.footer li:hover{
	background: #C3B6B2;
	transition: background 0.5s;
	border-radius:5%;
}